{% extends 'base.html.twig' %}
{% block body %}



    <center>
        <div class="card-header"><h1>L'inventaire du boss DeusKiwi</h1></div>
        <br>
        <table >
            <tr>
                {% set indice = 0 %}
                {% for inventoryItem in inventoryItems %}

                {% if indice > 4 %}
                {% set indice = 0 %}
            </tr><tr>
                {%  endif %}
                {% set indice = indice + 1 %}

                <td>
                    <div class="card text-white bg-primary mb-3" style="width: 265px; height: 610px;">
                        <div style="height: 180px;" class="card-header"><h3>{{inventoryItem.item.name}}</h3></div>
                        <div class="card-body" style="height: 180px;"  >
                            <img src ="{{inventoryItem.item.image}}">
                            <h4 class="card-title">{{inventoryItem.item.actualPrice}} €</h4>
                            <p class="card-text">Date de creation {{inventoryItem.item.createdAt | date('d/m/y') }} <br>
                                Dernière evolution :

                                {% if inventoryItem.item.lastIncrease is defined and inventoryItem.item.lastIncrease is not null %}

                                    {% if inventoryItem.item.lastIncrease >= 7 %}
                                        <span class="badge badge-pill badge-success">{{ inventoryItem.item.lastIncrease }} %</span>
                                    {%  endif %}

                                    {% if inventoryItem.item.lastIncrease < 7  and inventoryItem.item.lastIncrease >= 3 %}
                                        <span class="badge badge-pill badge-warning">{{ inventoryItem.item.lastIncrease }} %</span>
                                    {%  endif %}
                                    {% if inventoryItem.item.lastIncrease < 3  and inventoryItem.item.lastIncrease >=0 %}
                                        <span class="badge badge-pill badge-secondary">{{ inventoryItem.item.lastIncrease }} %</span>
                                    {%  endif %}
                                    {% if inventoryItem.item.lastIncrease < 0   %}
                                        <span class="badge badge-pill badge-danger">{{ inventoryItem.item.lastIncrease }} %</span>
                                    {%  endif %}
                                {% else %}
                                    Non definis
                                {% endif %}





                                {% if inventoryItem.item.growthToMedian is defined and inventoryItem.item.growthToMedian is not null %}

                                    {% if inventoryItem.item.growthToMedian >= 7 %}
                                        Croissance vs médiane :   <span class="badge badge-pill badge-success">{{ inventoryItem.item.growthToMedian }} %</span>
                                    {%  endif %}

                                    {% if inventoryItem.item.growthToMedian < 7  and inventoryItem.item.growthToMedian >= 3 %}
                                        Croissance vs médiane :   <span class="badge badge-pill badge-warning">{{ inventoryItem.item.growthToMedian }} %</span>
                                    {%  endif %}
                                    {% if inventoryItem.item.growthToMedian < 3  and inventoryItem.item.growthToMedian >=0 %}
                                        Croissance vs médiane :   <span class="badge badge-pill badge-secondary">{{ inventoryItem.item.growthToMedian }} %</span>
                                    {%  endif %}
                                    {% if inventoryItem.item.growthToMedian < 0   %}
                                        Croissance vs médiane :   <span class="badge badge-pill badge-danger">{{ inventoryItem.item.growthToMedian }} %</span>
                                    {%  endif %}
                                {% else %}
                                    <br><br>
                                {% endif %}



                            <a  href="{{ path('itemDetail',{'id': inventoryItem.item.id}) }}" ><button type="button" class="btn btn-info">Plus Info</button></a>
                        </div>

                    </div>

                </td>

                {% endfor %}

            </tr>
        </table>
            </div>
    </center>
{% endblock %}