<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Steam Bot !{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css" >
        <link rel="icon" type="image/gif" href="https://svn.apache.org/repos/asf/lucene.net/branches/3.0.3/branding/logo/lucene-net-icon-512x512.png" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Steam Bot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('items', {'orderBy': 'nameASC'}) }}">Trier par nom ▲</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('items', {'orderBy': 'nameDESC'}) }}">Trier par nom ▼</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('items', {'orderBy': 'priceASC'}) }}">Trier par prix ▲</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('items', {'orderBy': 'priceDESC'}) }}">Trier par prix ▼</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('items', {'orderBy': 'lastIncreaseASC'}) }}">Trier par dernière évolution ▲</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('items', {'orderBy': 'lastIncreaseDESC'}) }}">Trier par dernière évolution ▼</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('items', {'orderBy': 'growthToMedianASC'}) }}">Trier par croissance VS médiane ▲</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('items', {'orderBy': 'growthToMedianDESC'}) }}">Trier par croissance VS médiane ▼</a>
                    </li>
                        </ul>
                <a class="nav-link" href="{{ path('newRequest') }}">
                    <button type="button" class="btn btn-info">Nouvelle requête</button>
                </a>
                <a class="nav-link" href="{{ path('inventory') }}">
                    <button type="button" class="btn btn-secondary">Inventaire</button>
                </a>
            </div>
            
        </nav>
        <div clas="container">

           {% block body %}    {% endblock %}
        </div>
 
        {% block javascripts %}{% endblock %}
    </body>
</html>
